# Задачи по Python

### Задача 1
Cохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [2]:
age = 28
name = 'Kate'

### Задача 2
Создайте произвольный список

In [12]:
lst = [1, 2, 3, 'five']
lst

[1, 2, 3, 'five']

### Задача 3
Добавьте новый элемент типа str в конец списка

In [13]:
lst.append('new')
lst

[1, 2, 3, 'five', 'new']

### Задача 4
Добавьте новый элемент типа int на место с индексом

In [6]:
lst.insert(3, 4)

### Задача 5
Добавьте новый элемент типа list в конец списка

In [14]:
lst.append(['new_end'])
lst

[1, 2, 3, 'five', 'new', ['new_end']]

### Задача 6
Получите элемент по индексу

In [11]:
lst[2]

3

### Задача 7
Получите элемент по индексу

In [12]:
lst[0]

1

### Задача 8
Создайте произвольный словарь

In [13]:
dct = {'1': 'one', '2': 'two', '3':'three'}

### Задача 9
Получите значение словаря по произвольному ключу

In [22]:
dct['1']

'one'

### Задача 10
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [21]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3

# Задачи по Pandas

### Задача 1
Сделайте импорт библиотеки Pandas

In [16]:
import pandas as pd

### Задача 2
Создайте "игрушечный" датафрейм из нескольких колонок и строк

In [17]:
d = {'price':pd.Series([1000, 2000, 3000], index=['1', '2', '3']), 'count': pd.Series([10, 12, 7], index=['1', '2', '3']), 
     'city':pd.Series(['Moskow', 'SPb', 'Omsk'], index = ['1', '2', '3'])}
df = pd.DataFrame(d)
print(df)

   price  count    city
1   1000     10  Moskow
2   2000     12     SPb
3   3000      7    Omsk

### Задача 3
Распечатайте количество строк и колонок с помощью метода shape

In [18]:
df.shape

(3, 3)

### Задача 4
Добавьте новый столбец, состоящий из чисел (float or int)

In [19]:
df['new_column'] = [3, 4, 5]

### Задача 5
Распечатайте среднее арифмитическое по новому столбцу

In [20]:
df.new_column.mean()

4.0

### Задача 6
Создайте новый столбец, где значения будут в два раза больше, чем в предыдущем

In [21]:
df['new_column2x'] = df.new_column * 2

In [22]:
df

   price  count    city  new_column  new_column2x
1   1000     10  Moskow           3             6
2   2000     12     SPb           4             8
3   3000      7    Omsk           5            10